<!-- https://qiita.com/TAKAKING22/items/48d6e7e3600a68b39fe2 -->

<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="img-src 'self' data:;" />
      </customHeaders>
    </httpProtocol>
    <security>
      <!-- Serverの削除 -->
      <requestFiltering removeServerHeader="true" />
    </security>
  </system.webServer>

  <system.web>
    <!-- X-AspNet-Versionの削除 -->
    <httpRuntime enableVersionHeader="false" />
  </system.web>
</configuration>
