/* https://developer.mozilla.org/ja/docs/Web/CSS/transition */
/* https://webgoto.net/html5 */

.status {
	width: auto;
	padding: 0.3em;
}

.status:hover {
	border: 1px solid #AAA;
	padding: 0.2em 0 0 0.2em;
}

.status > .info {
	height: auto;
	padding: 0;
	margin: 0;
}

.status > .text {
	height: auto;
	padding: 0 0 0 0.5em;
	margin: 0;
}

.status > .buttons {
	height: 0;
	padding: 0;
	margin: 0;
	opacity: 0;
	transition: 0.07s;
}

.status:hover > .buttons {
	height: auto;
	padding: 0 0 0 0.2em;
	opacity: 1;
	visibility: visible;
}

/* https://goflb1238.hatenablog.jp/entry/2014/02/11/145531 aタグとbuttonの見た目を揃える */
/* https://kyoheiomi.com/design/css_button_design CSSで作る汎用性の高いシンプルなボタンデザイン20 */
.status > .buttons > .button {
	font-family: normal;
	font-size: 12px;
	/*color: #000;*/
	text-shadow: none;
	text-decoration: none;
	-webkit-text-decoration: none;
	display: inline-block;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	/*background: none;*/
	/*border: none;*/
	outline: none;
	/*padding: 0;*/
	/*margin: 0;*/
	cursor: pointer;

	position: relative;
	width: 5em;
	border: 0;
	padding: 0.2em;
	text-align: center;
	color: #000;
	background: #F2F2F2;
	transition: 0.1s;
}

.status > .buttons > .button:hover {
	color: #FFF;
	 background: #AAA;
}

.status > .buttons > .button:disabled {
	color: #FFF;
	background: #888;
	cursor: not-allowed;
	text-decoration: line-through;
}
