/* https://developer.mozilla.org/ja/docs/Web/CSS/transition */

.status {
	width: auto;
	padding: 0.4em;
}

.status:hover {
	border: 1px solid #888;
}

.status > .info {
	height: 0;
	padding: 0;
	margin: 0;
}

.status > .text {
	height: 0;
	padding: 0 0 0 1em;
	margin: 0;
}

.status > .buttons{
	height: 0;
	padding: 0;
	margin: 0;
	opacity: 0;
	transition: 0.07s;
}

.status:hover > .buttons{
	height: auto;
	margin: 3px;
	opacity: 1;
	visibility: visible;
}
