/* https://developer.mozilla.org/ja/docs/Web/CSS/transition */

.buttons{
	border: 1px solid #333;
	height: 0;
	opacity: 0;
	padding: 0 10px;
	transition: 0.07s;
}
.status:hover > .buttons{
	height: auto;
	opacity: 1;
	visibility: visible;
}
