<!doctype html>
<head>
	<title>tl</title>
	<link rel='stylesheet' href='static/css/tl.css'>
</head>
<body>
	{% for status in home_timeline %}
		<div class='status'>
			<p class='info'>
				{{ status['created_at'] }} {{ status['name'] }} @{{ status['screen_name'] }}
				{% if status['is_rt'] %}
					Retweeted: {{ status['rt_created_at'] }} {{ status['rt_name'] }} @{{ status['rt_screen_name'] }}
				{% endif %}
			</p>
			<p class='text'>
				{{ status['text'] }}
			</p>
			<p class='buttons'>
				fav rt img
			</p>
		</div>
	{% endfor %}
</body>
