<!doctype html>
<head>
	<title>tl</title>
	<link rel='stylesheet' href='static/css/tl.css'>
	<script src='static/js/tl.js'></script>
</head>
<body>
	{% for status in home_timeline %}
		<div class='status' id="{{ status['id'] }}">
			<p class='info'>
				{{ status['created_at'] }} {{ status['name'] }} @{{ status['screen_name'] }}
				{% if status['is_rt'] %}
					Retweeted: {{ status['rt_created_at'] }} {{ status['rt_name'] }} @{{ status['rt_screen_name'] }}
				{% endif %}
			</p>
			<p class='text'>
				{{ status['text'] }}
			</p>
			<p class='buttons'>
				<button class='button fav_button'>fav</button>
				<button class='button rt_button'>rt</button>
				<button class='button img_button'>img</button>
			</p>
		</div>
	{% endfor %}
</body>
