<!doctype html>
<head>
	<title>tw</title>
	<script>
		window.onload = function(){
			inputElem = document.getElementById("body1");

			inputElem.onkeydown = function(e){
				// Enter以外のkeyCodeなら素通り
				if (e.keyCode !== 13) return true;
				// Enterのとき、フォームが空じゃない かつ ctrlが押されている ならフォームを送信
				if ((this.value !== "") && e.ctrlKey) {
					document.getElementById("form1").submit();
				}
				// 上記以外のEnterは無視
				return false;
			};

			inputElem.value = "";
			inputElem.focus();
		}
	</script>
</head>
<body>
	<form method="post" action="/update_status" id="form1">
		<input name="body" id="body1" value="" />
		<input type="submit" />
	</form>
</body>
